<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="security">
                <field id="inactivity_cron" translate="label" type="select" sortOrder="151" showInDefault="1" canRestore="1">
                    <label>Inactivity Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="inactivity_domain" translate="label" type="text" sortOrder="152" showInDefault="1">
                    <label>Inactivity Exclude Domain</label>
                    <depends>
                        <field id="inactivity_cron">1</field>
                    </depends>
                </field>
                <field id="inactivity_lifetime" translate="label" sortOrder="153" showInDefault="1" canRestore="1">
                    <label>Inactivity Lifetime (days)</label>
                    <validate>validate-zero-or-greater validate-digits</validate>
                    <depends>
                        <field id="inactivity_cron">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
